{% set map = {
    new: {icon: 'bell', color: 'blue'},
    validated: {icon: 'star', color: 'yellow'},
} %}
<span class="ui {{ map[data].color }} label">
    <i class="{{ map[data].icon }} icon"></i>{{ data }}
</span>
