<form action="{{ path('app_one_click_checkout', {'variantId': settings.product.variants.first().id}) }}" method="POST">
    <button type="submit" class="ui button labeled huge icon purple"><i class="icon bolt"></i>Quick checkout</button>
</form>
